{% extends "base.html" %} 
{% block title %}Login{% endblock %}
{% include 'layout.html' %}

{% block content %}
    <!-- FORM -->
    <div class="row">

        <div class="col-md-5 p-5">
          <!-- MESSAGE -->
          <!--{% include 'partials/_message.html' %} -->
    
          <!-- FORM -->
          {%  include 'partials/_taskForm.html' %}
        </div>
    
        <!-- event list -->
        <div class="col-md-7">
          {% for note in user.notes %}
            <div class="card mb-1 bg-black text-white">
              <div class="card-body py-2 px-3">
                <div class="d-flex justify-content-between">
                  <h4>Event name:</h4>
                  <div>
                    <a href="{{ url_for('views.update', id=note.id) }}" class="btn btn-dark btn-sm rounded-0">Edit</a>
                    <a href="{{ url_for('views.delete', id=note.id) }}" class="btn btn-danger btn-sm rounded-0">Delete</a>
                  </div>
                </div>
                <h5 class="card-title h6">{{ note.nombre }}</h5>
                <h4>Cathegory:</h4>
                <p class="card-text">{{ note.categoria }}</p>
                <h4>Place:</h4>
                <p class="card-text">{{ note.lugar }}</p>
                <h4>Address:</h4>
                <p class="card-text">{{ note.direccion }}</p>
                <h4>Inicial date:</h4>
                <p class="card-text">{{ note.inicio }}</p>
                <h4>Final date:</h4>
                <p class="card-text">{{ note.fin }}</p>
                <h4>Event type:</h4>
                <p class="card-text">{{ note.modalidad }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
        </div>

{% endblock %}
